%h2 
  Edit Account

%form{action: "/account/edit/#{@account[:account_id]}", method: "POST"}
  %label.one-per-line
    Account name:
    %input.one-per-line{type: "text", name: "name", value: @account[:name]}

  %label.one-per-line
    Initial amount:
    %input.one-per-line{type: "number", step:"any", name: "amount", value: @account[:amount].to_s('F')}

  %input{type: "submit", value: "Save"}
