%h2
  Montly overview
%h4
  %a(href="/record") 
    Record an expense!

%h4
  %a(href="/upload_image")
    Upload an image!

%h4
  %a(href="/category/create")
    Manage expense categories!

%h4
  %a(href="/expenses")
    View Current Budget!
%h4
  %a(href="/settings")
    Manage Settings!


%h4
  %div
    The current month is
    = @current_month